.btn {
  background-color: #60b9ea;
  color: #242424;
  border: 2px solid #60b9ea;
  border-radius: 20px;

  padding: 0.2em 1em;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 800;
  &:disabled {
    background-color: #ccc;
    border: 2px solid #ccc;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
