.counterWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 2px solid #60b9ea;
  padding: 2rem;
  border-radius: 20px;
}

.buttonsWrapper {
  display: flex;
  gap: 20px;
  border: 2px solid #60b9ea;
  padding: 40px 20px;
  border-radius: 20px;
}