#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: #242424;
}

* {
  box-sizing: border-box;
}

